<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Ahmadeus : Artisanal Apps</title>
<script>
var useStyle = 1;
</script>

<body class="viewing-page-1" screen_capture_injected="true" style="">
  <ul class="onepage-pagination">
    <li><a data-index="1" href="" class="active"></a></li>
    <li><a data-index="2" href=""></a></li>
    <li><a data-index="3" href=""></a></li>
    <li><a data-index="4" href=""></a></li>
    <li><a data-index="5" href=""></a></li>
    <li><a data-index="6" href=""></a></li>
    <li><a data-index="7" href=""></a></li>
    <!-- <li><a data-index="8" href=""></a></li> -->
  </ul>
  <div id="main_menu">
    <div class="container">
      <a data-index="1" href="" rel="2" name="3" class="selected">HOME</a>
      <a data-index="4" href="">ABOUT</a>
      <a data-index="5" href="">CLIENTS</a>
      <a data-index="6" href="" rel="7">PORTFOLIO</a>
      <!-- <a data-index="8" href="">CONTACT</a> -->
      <div style="clear:both;">
      </div>
    </div>
  </div>
<div class="wrapper">
  <div class="main onepage-wrapper" style="position: relative;">
    <section class="page1 section active" data-index="1" style="position: absolute; top: 0%;"><div class="section_wrap">
      <div class="container">
        <li><%= image_tag 'Ahmadeus_logo.png', width: '700', height: '399' %></li>
        <div style="text-align:center;padding-top:10px;line-height:22px;font-size:19px;">
          Building apps for a broad range of clientele profile, from multinational fortune <br> 50 corporations to individuals with brilliant ideas. Our iOS engineers thread and  <br> polish our apps using the latest technologies.
        </div>
      </div>
      <a href="mailto:info@ahmadeus.com" class="apptext">info@ahmadeus.com</a>
    </div>
  </section>
    <section class="page2 section" data-index="2" style="position: absolute; top: 100%;"><div class="section_wrap">
      <div id="featured" class="container"> <span class="largetext section">FEATURED APP DESIGN</span> </div>
      <div class="horizantal_rule"></div>
      <div class="container">
        <p class="titletext">iPHONE APP: WESH 2 HD<br>
          Orlando breaking news and weather</p>
        <a href="" class="previous_arrow1 prev"></a><a href="" class="next_arrow1 next"></a>
        <div class="slideshow1" style="position: relative; width: 860px; height: 323px; overflow: hidden;">
          <div class="slide" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 5; opacity: 1;">
            <%= image_tag '4.jpg', width: '430', height: '323' %>
          </div>
          <div class="slide" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3;">
            <%= image_tag '3.jpg', width: '430', height: '323' %>
          </div>
          <div class="slide" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 2;">
            <%= image_tag '2.jpg', width: '430', height: '323' %>
          </div>
          <div class="slide" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 1;">
            <%= image_tag '1.jpg', width: '430', height: '323' %>
          </div>
        </div>

        <div class="description">
          <div class="titletextbold" id="title">
            Easy to see and use App
            <span class="star">
            </span>
            <span class="star">
            </span>
            <span class="star">
            </span>
            <span class="star">
            </span>
            <span class="star">
            </span>
          </div>
          <br>
          <div class="bodytextbold">
            by Imikell
          </div>
          <p class="bodytext">For years I have watched another station, but because of Eric Burris and Amy Sweeney's First Alert Reporting today on Tropical Storm Andrea I am a fan. No one else broke into regular programming to inform the public on where these tornadoes were located. Eric said that "Rotation was favorable in a rural farm area not very populated, but someone is out there working and needs to know this information." </p>
          <p class="bodytext">Now how special is that? Thank you for a job well done and keep up the good work. I give this App 5 stars because its easy to see and use.</p>
        </div>
      </div>
    </div>
    </section>
    <section class="page3 section" data-index="3" style="position: absolute; top: 200%;"><div class="section_wrap">
      <div id="featured2" class="container">
        <span class="largetext section">FEATURED APP DESIGN</span>
      </div>
      <div class="horizantal_rule"></div>
      <div class="container">
        <p class="titletext">iPAD APP: WESH 2 HD<br>
          Orlando breaking news and weather
        </p>
        <a href="" class="previous_arrow2 prev"></a>
        <a href="" class="next_arrow2 next"></a>
        <div class="slideshow2" style="position: relative; width: 860px; height: 323px; overflow: hidden;">
          <div class="slide" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 5; opacity: 1;">
            <%= image_tag '2.jpg', width: '430', height: '323' %>
          </div>
          <div class="slide" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3;">
            <%= image_tag '1.jpg', width: '430', height: '323' %>
          </div>
          <div class="slide" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 2;">
            <%= image_tag '4.jpg', width: '430', height: '323' %>
          </div>
          <div class="slide" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 1;">
            <%= image_tag '3.jpg', width: '430', height: '323' %>
          </div>
        </div>

        <div class="description">
          <div class="titletextbold" id="title">
            Easy to see and use App
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
          </div>
          <br>
          <div class="bodytextbold">by Imikell</div>
          <p class="bodytext">
            For years I have watched another station, but because of Eric Burris and Amy Sweeney's First Alert Reporting today on Tropical Storm Andrea I am a fan. No one else broke into regular programming to inform the public on where these tornadoes were located. Eric said that "Rotation was favorable in a rural farm area not very populated, but someone is out there working and needs to know this information."
          </p>
          <p class="bodytext">
            Now how special is that? Thank you for a job well done and keep up the good work. I give this App 5 stars because its easy to see and use.
          </p>
        </div>
      </div>
    </div></section>
    <section class="page4 section" data-index="4" style="position: absolute; top: 300%;">
      <div class="section_wrap">
        <div class="container">
          <div id="about">
            <span class="largetext section">ABOUT</span>
          </div>
        </div>
      <div class="horizantal_rule"></div>
      <div class="container">
        <div id="about_text" class="largetext">
          <div class="inner"> Ahmadeus Apps has provided clients with a broad depth of technical expertise and an organizational focus on delivering positive business results through enterprise level custom technology solutions. Companies turn to Ahmadeus Apps when they need someone capable of doing "the hard stuff." We are a trusted partner with a track record of proven results.<br>
            <br>
            We are proud to have delivered for our clients successful large-scale custom application solutions, and to take over runaway projects and deliver them on time.<br>
           </div>
        </div>
      </div>
    </div>
    </section>
    <section class="page5 section" data-index="5" style="position: absolute; top: 400%;"><div class="section_wrap">
      <div class="container">
        <div id="clients"> <span class="largetext section">CLIENTS</span> </div>
      </div>
      <div class="horizantal_rule"></div>
      <div class="container">
        <ul class="clients">

          <li><a href=""><%= image_tag 'logo1.png', width: '108', height: '74' %></a></li>
          <li><a href=""><%= image_tag 'logo3.png', width: '167', height: '59' %></a></li>
          <li><a href=""><%= image_tag 'logo4.png', width: '89', height: '86' %></a></li>
          <li><a href=""><%= image_tag 'logo5.png', width: '142', height: '32' %></a></li>
          <li><a href=""><%= image_tag 'logo6.png', width: '174', height: '50' %></a></li>
          <li><a href=""><%= image_tag 'logo2.png', width: '135', height: '44' %></a></li>
          <li><a href=""><%= image_tag 'logo7.png', width: '171', height: '34' %></a></li>
          <li><a href=""><%= image_tag 'cs.png', width: '180', height: '65' %></a></li>
        </ul>
      </div>
    </div></section>
    <section class="page6 section" data-index="6" style="position: absolute; top: 500%;"><div class="section_wrap">
      <div class="container">
        <div> <span class="largetext section">PORTFOLIO</span> </div>
      </div>
      <div class="horizantal_rule"></div>
      <div class="container">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td align="left" valign="top" style="width:140px; padding-top:40px">
                <span class="largetext" style="font-size:15px; letter-spacing:1px;">iPHONE APPS:</span>
              </td>
              <td align="left" valign="top">
                <ul class="clients">
                  <li><a href=""><%= image_tag 'l1.png' %></a>
                  <li><a href=""><%= image_tag 'l2.png' %></a>
                  <li><a href=""><%= image_tag 'l3.png' %></a>
                  <li><a href=""><%= image_tag 'l4.png' %></a>
                  <li><a href=""><%= image_tag 'l5.png' %></a>
                  <li><a href=""><%= image_tag 'l6.png' %></a>
                  <li><a href=""><%= image_tag 'l7.png' %></a>
                  <li><a href=""><%= image_tag 'l8.png' %></a>
                  <li><a href=""><%= image_tag 'l9.png' %></a>
                  <li><a href=""><%= image_tag 'l10.png' %></a>
                  <li><a href=""><%= image_tag 'l11.png' %></a>
                  <li><a href=""><%= image_tag 'l12.png' %></a>
                  <li><a href=""><%= image_tag 'l13.png' %></a>
                  <li><a href=""><%= image_tag 'l14.png' %></a>
                  <li><a href=""><%= image_tag 'l15.png' %></a>
                  <li><a href=""><%= image_tag 'l16.png' %></a>
                  <li><a href=""><%= image_tag 'l17.png' %></a>
                  <li><a href=""><%= image_tag 'l18.png' %></a>
                  <li><a href=""><%= image_tag 'l19.png' %></a>
                  <li><a href=""><%= image_tag 'l10.png' %></a>
                  <li><a href=""><%= image_tag 'l21.png' %></a>
                  <li><a href=""><%= image_tag 'l22.png' %></a>
                  <li><a href=""><%= image_tag 'l23.png' %></a>
                  <li><a href=""><%= image_tag 'l24.png' %></a>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </section>
    <section class="page7 section" data-index="7" style="position: absolute; top: 600%;"><div class="section_wrap">
      <div class="container">
        <div>
          <span class="largetext section">PORTFOLIO</span>
        </div>
      </div>
      <div class="horizantal_rule"></div>
      <div class="container">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td align="left" valign="top" style="width:140px; padding-top:40px">
                <span class="largetext" style="font-size:15px; letter-spacing:1px;">iPAD APPS:</span>
              </td>
              <td align="left" valign="top">
                <ul class="clients">
                  <li><a href=""><%= image_tag 'l1.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l2.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l3.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l4.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l5.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l6.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l7.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l8.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l9.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l10.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l11.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l12.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l13.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l14.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l15.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l16.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l17.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l18.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l19.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l10.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l21.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l22.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l23.png', width: '70', height: '67' %></a>
                  <li><a href=""><%= image_tag 'l24.png', width: '70', height: '67' %></a>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div></section>
  <!--   <section class="page8 section" data-index="8" style="position: absolute; top: 700%;"><div class="section_wrap">
      <div id="contact"> <span class="largetext section">CONTACT</span> </div>
      <div class="horizantal_rule"></div>
      <div class="container">
        <form action="http://ahmadeus/form.php" method="post">
          <div class="cf_left">
            <label for="cf_email">Email Address</label>
            <input class="login-form1" type="text" name="cf_email" id="cf_email">
            <label for="cf_name">Name</label>
            <input class="login-form1" type="text" name="cf_name" id="cf_name">
            <label for="cf_industry">Industry</label>
            <input class="login-form1" type="text" name="cf_industry" id="cf_industry">
            <label for="cf_platform">Platform</label>
            <div class="styled-select">
              <select class="white_text2" id="cf_platform" name="cf_platform">
                <option selected="">Select One</option>
                <option>iPhone</option>
                <option>iPad</option>
                <option>Universal</option>
              </select>
            </div>
          </div>
          <div class="cf_center">
            <label for="cf_message">Your Message</label>
            <textarea class="login-form1" type="text" name="cf_message" id="cf_message"></textarea>
            <input class="login-form1" type="submit" value="">
          </div>
          <div class="cf_right">
            <p>Contact Us Directly</p>
            <a href="mailto:info@ahmadeus.com" class="apptext">info@ahmadeus.com</a>
          </div>
        </form>
      </div>
    </div>
    </section> -->
  </div>
</div>
</body></html>