.container
  %span
  %h3 #{@contact.name.split.each{|i| i.capitalize!}.join(' ')}, thank you for your message. 
  %br
  %br
  = image_tag 'hand.png', :size => '128x128'
  %br
  %br
  %br
  %p We'll get back to you within the next 24 hours.
  %p
  %br
  / = link_to 'Home', root_url, :class => 'button' 
  %hr
