.container
  %h3 #{@contact.name.split.each{|i| i.capitalize!}.join(' ')}, Thank you for your message. 
  %br
  %p We'll get back to you shortly.
  %p
  = link_to 'Home', root_url, :class => 'button' 
