body {
  /*padding-top: $navbarHeight + 20px;*/
  padding-top: 45px;
}


h1 {
	font-family: 'Helvetica Light';
	margin-top: 50px;
	margin-left: 350px;
}

h2 {
	font-family: 'Helvetica Light';
	margin-top: 50px;
	margin-left: 470px;
}

input, select {
	width: 520px;
}

select {
	width: 530px;
}

.nav-collapse {
	margin-left: 450px;
}

.hidden { 
	display: none; 
}

.container p {
	font-size: 16px;
	font-family: Georgia, Serif;
}

textarea {
    resize: none;
}

.btn {
	background-color: green;
}

.btn-primary {
	width: 350px;
	height: 50px;
	color: white;
	font-size: 18px;
	padding-right: 210px;
	padding-left:  210px;
}

.well {
	margin-left: 250px;
	height: 560px;
	width: 550px;
	padding: 20px;
}

/*.text textarea {
	float: right;
	margin-top: -275px;
}
*/
